<div class="container">
	<h1>Update your project</h1>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_for (@project)  do |pro| %>
				<%= pro.label :name %>
				<%= pro.text_field :name, class: 'form-control' %>
			    <%= pro.fields_for :users_project do |p_user| %>
						<%= p_user.label :Add_User %> 
	          <%= p_user.collection_select(:id, @user, :id, :name, include_blank: true,:multiple => true) %>
	        <% end %>    
				<%= pro.submit "Save changes", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>

