<center>
<h1>Here is your all project</h1>
<% if policy(@project).create? %>
	<%= link_to "Create Project", new_project_path, class: 'btn btn-success' %>
<% end %>
<table class="table table-bordered ">
	<thead>			
		<tr>
		  <th>Project Name</th>
		  <th>show</th>
		   <% if policy(@project).edit? %>
		  <th>Edit</th>
		  <th>Delete</th>
		  <% end %>
		</tr>  
	</thead>
		<% @project.each do |p| %>
	      <tbody>	 
	         <tr><td><%= p.name %></td>
	             <td><%= link_to "Show", p, class: 'btn btn-success' %></td>
	             <% if policy(@project).edit? %>
	             <td><%= link_to "Edit", edit_project_path(p),class: 'btn btn-info' %> </td>
	             <% end %>
	             <% if policy(@project).destroy? %>
	             <td>					 <%= link_to "delete", p, method: :delete,data: { confirm: "You sure?" },class: 'btn btn-danger' %></td>
	             <% end %>
	         </tr>

	     </tbody>    
	  <% end %>
 </table>	
</center>
